<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>
    <text>
    <p>We have an archive from tennis players over the years. </p>
     <p> As avid tennis fans there is a retro 2-player tennis game at the bottom
    of the screen. </p> <p> To play with a friend use the W and S keys for Player 1
  and the up and down arrow key for Player 2. Have fun!</p></text>
  </body>
</html>